<!DOCTYPE html>
<html ng-app>
  <head>
    <script src = "preferences/Preferences.js"></script>
  
      <script src = "https://ajax.googleapis.com/ajax/libs/angularjs/1.3.3/angular.min.js"></script>
      <script src = "textfield.textfall.js"></script>
      <script src = "effects/digitalrain.js"></script>
      <script src = "../js/FallingChar.js"></script>
   </head>

  <link type="text/css" src = "../css/login.css"></link>

   <style>

   
   @keyframes example {
    
    0% {
    background-color: red;
    opacity: 1.0;
    -webkit-transform: scale(1.0) rotate(0deg);
    }

    50% {
    
        background-color: blue;
    }
    
    100% {
        background-color: {{fallSpeed}};
    }
}


</style>

<link rel="stylesheet" href="../css/login.css">
<body data-ng-app="body">

<p>
<button onclick="myMove()">Click Me</button> 
</p>
 <div>
         <label>Fall Speed:</label>
         <input id="fallSpeed" width="auto" type = "text" ng-model = "fallSpeed" placeholder = "Fall Speed" ng-keypress="myMove()">
         <hr/>
         
         <h1>Hello !</h1>
      </div>

<div id ="myAnimation"></div>
<div id="digitalRain"><p></p></div>
</body>

<script>

document.onkeydown = function (evt) {

    evt = evt || window.event;
    var charCode = evt.keycode || evt.which;
    var char = getChar(charCode);
    createFallingChar(char);

};

function myMove() {

document.body.style.animationName = 'example';
document.body.style.animationDuration = '4s';

setTimeout( function() {
        document.body.style.animationName = "";
}, 4000);

}


</script>
</html>
